/* absolute Center the object */

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* clear fix 
Force an Element To Self-Clear its Children
*/

@mixin clearfix {
    &::after {
       content: "";
       display: table;
       clear: both;
    }
}

//MEDIA QUERY MANAGER
@mixin respond($breakpoint) {

    //479px /16px = 29.9
    @if $breakpoint == smallphone {
        @media only screen and (max-width: 29.9em) { @content };
    }

    //600px / 16px = 37.5
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };
    }

    //768px / 16px = 48
    @if $breakpoint == tablet {
        @media only screen and (max-width: 48em) { @content };
    }

    //867px / 16px ~ 54.19
    @if $breakpoint == desktop {
        @media only screen and (max-width: 54.19em) { @content };
    }

}



