/*
COLORS:

logo dark blue: #003366;

nav dark blue: #063464;
nav light blue: #208CD6;

text blue: #022640;

button orange color:  #DE5C21;
button blue: #2B689C;
$color-white: #FFF;

*/

$color-primary: #312595; //#2011a1;

$color-nav-pri: #312595;// #2011a1; 
$color-nav-secondary: #6c5bb6; 

$color-text: #022640;

$color-btn: #d35a21; 
$color-btn-hover: #897BC4;

$color-white: #FFF;
$color-black: #000;

$grid-width: 86.7rem;
$gutter-vertical: .2rem;
$gutter-horizontal: .4rem;

