 
 /******
Photos
 *******/

 .photos {

    &__frame{
        width: 100%;
        padding: .2rem;
        border: 2rem solid transparent;
        border-image: url("../img/photo-frame.png") stretch;
        border-image-slice: 10%;
    }

    &__item {
       width: 100%;

       &-7 {
           margin-top: 1.2rem;
       }

    }

    &__shadow {
        box-shadow: 0.5rem .5rem #c6c6c6;
        //margin-bottom: 2rem;
    }

 }