/* Home and other pages */

/*****
main on pages
*****/
.section__main {
        padding: .5rem 2rem;

}


/*******
news.html
********/

.section-left {
    padding: 1rem 0 0 1.8rem;
}


.section__map{
    padding: 1rem 1rem;
}

.pqmap {
    width:100%;
    height: 30rem;

}