/* Home and other pages */

/*****
main on pages
*****/

.section__main {
    padding: .8rem 1rem;

}


/*******
news.html
********/

.section-left {
    padding: 1rem 0 0 1.8rem;
}

/*
.section__map{
    padding: 1rem 1rem;
}*/

/*
.pqmap {
    width:100%;
    height: 30rem;

}*/
/* make the headline comes in first in mobile view on home page */
.section__home .row:first-child .col-7-of-12{
    display: flex;
    justify-content: center;
}